.mars-panel {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.mars-panel .panel-content {
  display: flex;
  flex: 1;
  width: 100%;
  gap: 15px;
}

.mars-panel .globe-container {
  flex: 1.8;
  min-width: 0;
}

.mars-panel .data-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mars-panel .data-section {
  border: 1px solid #660000; /* Darker red border */
  padding: 10px;
}

.mars-panel .time-date {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Add gap between time and date */
}

.mars-panel .time-date .data-item {
  width: 100%;
  display: flex;
  flex-direction: column; /* Stack label and value vertically */
  align-items: flex-start;
}

.mars-panel .data-item {
  display: flex;
  flex-direction: column;
}

.mars-panel .data-label {
  font-size: 0.9em; /* Slightly larger label */
  color: #ff4444; /* Light red */
  margin-bottom: 5px;
}

.mars-panel .data-value {
  font-size: 1.8em; /* Larger data value */
  color: #ff4444; /* Light red */
  font-weight: bold;
}

.mars-panel .data-label-small {
  font-size: 0.8em;
  color: #ff4444; /* Light red */
}

.mars-panel .data-value-small {
  font-size: 1em;
  color: #ff4444; /* Light red */
}

.mars-panel .geo-activity .data-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}

.mars-panel .geo-activity .data-grid .data-item {
  flex-direction: column;
  align-items: flex-start;
}

.mars-panel .location-selector {
  background-color: #290000;
  color: #ff4444;
  border: 1px solid #660000;
  padding: 5px;
  width: 100%;
}
